:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.synav{
  background-color: #624CAB;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #C4B7E1!important;
}

.home-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 3rem;

}
.item{
  outline: #1a1a1a; 
  height: 350px;
  outline-style: dotted;
  margin: 2rem;
  border-radius: 5%;
}
.home-image{
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.footer{
  background-color: #624CAB;
  
}

.footer-container{
  width: 100%;
 
  border-color: #624CAB;
  border-style: double;
}
.footer-nav{
  display: flex;  
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}
.footer-nav-items{
  margin-right: 25px;
  
}
.company-logo{
  justify-items: center;
}
.footer-copyright{
  font-size: 1.1em;
}
.home-page{
  justify-items: center;
}
.home-features{
  margin: 1em;
}

.Pricing-Container{
 border-color: red;
 border-style: solid;
 height: 100vh;  
}
.Pricing-Header{
  justify-items: center;
  border-color: brown;
  border-style: dotted;
}
.Prices-Container{
  border-color: pink;
  border-style: groove;
  display: flex;
  height: 90%;
  justify-content: space-between;
  
}
.Prices-Items{
  height: 600px;
  border: turquoise;
  border-radius: 10%;
  border-style: solid;
  margin-top: 4em;
  width: 300px;
  justify-items: center;
}
.Pricing-Items-Header{
  margin-top: 1em;
}
.Pricing-Items-Text{
 margin-top: 4em;
 margin-bottom:4em;
 font-size: large;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
